@tailwind base;
@tailwind components;
@tailwind utilities;


.Home{
    background-image: url("./assets/home_bg.jpg");
    background-size: cover;
}

.apply-loan{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVkzcv6JZMaCd5OiwEYkzdXzv7i7-Zs40IGA&s");
background-size: cover;
border-radius: 20px;

}

.about-bg{
    height: 50vh;
    background-image: url("./assets/home_bg.jpg");
    background-size: cover;
    background-position: center;
}

.apply-now{
    height: 50vh;
    background-image: url("./assets/home_bg.jpg");
    background-size: cover;
    background-position: center;
}

.contactpage{
    height: 50vh;
    background-image: url("./assets/home_bg.jpg");
    background-size: cover;
    background-position: center;
}